.App {
  text-align: center;
}
.container {
  /* display: grid;
  grid-template-areas:
    "screen"
    "buttons";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  text-align: center;
  width: 50%;
  margin-top: 5%; */
  display: flex;
  flex-direction: column;
  width: 12%;
}
.screen {
  flex: 1;
}

.buttons-container {
  /* grid-area: buttons; */
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
}

.button {
  background-color: #f44336;
}

.box1 {
  flex: 1;
}

.box5 {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 1%;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 1;
}
