.App {
  text-align: center;
}
.container {
  display: grid;
  grid-template-areas:
    "screen"
    "buttons";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  text-align: center;
  width: 50%;
  margin-top: 5%;
}
.screen {
  grid-area: screen;
}

.buttons-container {
  grid-area: buttons;
  display: grid;
  flex-direction: rows;
}

.button {
  background-color: #f44336;
}

.flexitem_0 {
  size: 50px;
  justify-content: center;
  flex: 2;
}
.flexitem_2 {
  size: 50px;
}
